.heading{
    font-size: 22px;
    color: #821437;
    font-family: roboto;
}
.card{
    text-align: center;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    margin-bottom: 4px;
    height: 540px;
    width: 380px;
}
.container-fluid{
    background-color: #081e3b;
    padding: 7px;
}
.button{
    text-align: center;
    margin: 40px;
    padding: 10px;
}